#nav .container{
    margin-bottom: -6px;
}

#nav .row{
    text-align: center;
}
.azalealogo{
    text-align: center;
}
#nav .rrss{
    float: right;
}

#two .sde{
    background-color: #333;
}
#three .team{
    background-color: #333;
}

.sdupv_text{
    margin-top: 15px;

}
.name{
    float: right;
}
.footprint{
    float: right;
    text-align: right;
}
.sdeimage{
    text-align: center;
}
.sdewhite{
    width: 100px;
}
.place{
    margin-top: -38px;
}
.sdetext{
    text-align: justify;
}
#footer.foot{
    background-color: #555;
}
.logosfooter{
    text-align: center;
    vertical-align: middle;
    margin-left: 98px;
    margin-bottom: 25px;
}
.rrssfooter{
    margin-top: -28px;
}
.rrssfooter a{
    color: white;
    margin-left: 5px;
}
.sdefooter{
    max-width: 73px;

}
.eeffooter{
    width: 100px;

}
.gefooter{
    width: 100px;

}
.upvgandiafooter{
    width: 100px;

}
.upvfooter{
    width: 100px;

}
.eco{
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    width: 255px;
    margin-left: 437px;
}

.heart{
    margin-left: 5px;
}
.journey p{
    margin-top: 22px;
}
